@page "/CustomerRegister"
@using GjammT.SharedKernel
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using GjammT.CustomerRegister.Components
@rendermode Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer
<h3>@ProgramInfo.Resource("CUSTOMER_REGISTER")</h3>
<CustomerHead />
<NavLink href="/CustomerRegister/Settings" >Settings</NavLink>
<NavLink href="/CustomerRegister/Statistics" >Statistics</NavLink>
@CustomerService.ModuleInfo
@code {
}