@page "/CustomerRegister"
@using GjammT.SharedKernel
@using GjammT.CustomerRegister.Components
@rendermode Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer
<h3>@ProgramInfo.Resource("CUSTOMER_REGISTER") :)ss</h3>
<CustomerHead />
@code {
}