@using GjammT.SharedKernel
@using Microsoft.AspNetCore.Components.Authorization
@inject ProgramInfo ProgramInfo
<Router AppAssembly="typeof(Program).Assembly" AdditionalAssemblies="ProgramInfo.GetLoadedAssemblies()">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)"/>
    </Found>
    <NotFound>
        <p>Hello</p>
    </NotFound>
</Router>