@using GjammT.Models.CustomerRegister
@using GjammT.SharedKernel
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@using Syncfusion.Blazor.Grids
@rendermode @(new InteractiveServerRenderMode(prerender: false));

    <InputText @bind-Value="customerName" placeholder=@ProgramInfo.Resource("CUSTOMER_NAME") />
    <input type="text" placeholder=@ProgramInfo.Resource("FIRSTNAME")/>
    <input type="text" placeholder=@ProgramInfo.Resource("LASTNAME")/>
    <button class="button" @onclick="async () => await CreateCustomer()">Skapa</button>
    <br />
    <br />

    <div class="row">
        <SfGrid DataSource="@customers" AllowPaging="true">
            <GridPageSettings PageCount="5"></GridPageSettings>
            <GridColumns>
                <GridColumn Field=@nameof(Customer.Id) HeaderText="ID" Width="120"></GridColumn>
                <GridColumn Field=@nameof(Customer.Name) HeaderText="Name" Width="150"></GridColumn>
            </GridColumns>
        </SfGrid>
    </div>
    
@code {
    private List<Customer> customers = new();
    
    protected override async Task OnInitializedAsync()
    {
        await LoadCustomers();
    }

    public async Task LoadCustomers()
    {
        //TBD
    }
    
    private async Task CreateCustomer()
    {
       //TBD
    }

    public string customerName { get; set; }
}