@using GjammT.SharedKernel
<form>
    <input type="text" placeholder=@ProgramInfo.Resource("FIRSTNAME") />
    <input type="text" placeholder=@ProgramInfo.Resource("LASTNAME") />
    WOOOT
FORM
</form>
@code {
    
}